* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-background: white;
  --secondary-background: black;
  --accent-color: #D4AF37;
  --secondary-accent-color: red;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.login-title {
  font-size: 2.5rem;
  
}

