.cart .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    /* color: var(--secondary-color); */
}
  
.cart .close:hover {
    text-decoration: underline;
}
  
.cart-closed {
    position: fixed;
    top: 2%;
    right: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .25rem;
    width: 50px;
    height: 50px;
}
  
.cart-closed:hover {
    transform: rotate(8deg);
}
  
.cart input {
    width: 60px;
    padding: 0;
    margin: 0 .5rem 1rem 0;
}

.cart-header {
    width: 100%;
}

#cart-btn {
    width: 8rem;
    background: var(--secondary-color);
    font-size: 1.25rem;
}
  
#overlay {
    display:none;
}

@media screen and (max-width: 1425px) {
    #mobile {
        width: 100%;
        display: grid;
    }
    .ui.segment.menu {
        width: 100%;
        margin: auto;
    }
    .ui.cards.card-group .ui.card {
        width: 28rem;
        margin: 2.5rem auto 5rem auto;
    }
    .ui.right.rail {
        display: none;
    }
    #sidebar {
        display: none;
    }
    #overlay {
        z-index: 1000000;
        width: 38rem;
        height: 21rem;
        overflow: auto;
        display: table-column;
        transform: translate(10px, -255px);
        position: relative;
    }
    .cart input {
        width: 60px;
        padding: 0;
        margin: 0 .5rem 1rem 0;
    }
    
    .cart-header {
        width: 100%;
    }
}

/* @media screen and (max-width: 995px) {
    .ui.cards.card-group .ui.card {
        width: auto;
    }
} */